<%= form_for(@vendor) do |f| %>

<% if @vendor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this recipe from being saved:</h2>
    <ul>
    <% @vendor.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="col-xs-12 col-md-12 form-group">
    <%= f.label :company_name, "企業名" %>
    <%= f.text_field :company_name, required: true, class:"form-control" %>
  </div>
  <div class="col-xs-12 col-md-12 form-group">
    <%= f.label :company_phone, "電話番号" %>
    <%= f.text_field :company_phone, class:"form-control" %>
  </div>
  <div class="col-xs-12 col-md-12 form-group">
    <%= f.label :company_fax, "FAX番号" %>
    <%= f.text_field :company_fax, class:"form-control" %>
  </div>
  <div class="col-xs-12 col-md-12 form-group">
    <%= f.label :company_mail, "メールアドレス" %>
    <%= f.text_field :company_mail, class:"form-control" %>
  </div>
  <div class="col-xs-12 col-md-12 form-group">
    <%= f.label :zip, "郵便番号" %>
    <%= f.text_field :zip, class:"form-control" %>
  </div>

  <div class="col-xs-12 col-md-12 form-group">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, class:"form-control" %>
  </div>
  <div class="col-xs-12 col-md-12 form-group">
    <%= f.label :staff_name, "担当者名" %>
    <%= f.text_field :staff_name, class:"form-control" %>
  </div>
  <div class="col-xs-12 col-md-12 form-group">
    <%= f.label :staff_phone, "担当者電話番号" %>
  <%= f.text_field :staff_phone, class:"form-control" %>
  </div>
  <div class="col-xs-12 col-md-12 form-group">
    <%= f.label :staff_mail, "担当者メールアドレス" %>
  <%= f.text_field :staff_mail, class:"form-control" %>
  </div>
  <div class="col-xs-12 col-md-12 form-group">
    <%= f.label :memo, "メモ" %>
    <%= f.text_area :memo, class:"form-control",style:"height:10em;" %>
  </div>

  <div class="action col-xs-12 col-md-12">
    <input type="button" onclick="submit();" value="登録する" class="btn btn-success">
  </div>
<% end %>
