<%= form_for @food do |f| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
        <% @food.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12 col-md-12">
    <div class="col-xs-12 col-md-4 form-group">
      <%= f.label :name, "食材名" %></br>
      <%= f.text_field :name, class:'form-control' %>
    </div>
    <div class="col-xs-12 col-md-4 form-group">
      <%= f.label :order_name, "発注書名" %></br>
      <%= f.text_field :order_name, class:'form-control' %>
    </div>
  </div>
  <div class="col-xs-12 col-md-12">
    <div class="col-xs-12 col-md-4 form-group">
      <%= f.label :management_code, "仕入先企業" %></br>
      <%= f.text_field :management_code, class:'form-control' %>
    </div>

    <div class="col-xs-12 col-md-4 form-group">
      <%= f.label :management_code, "管理コード" %></br>
      <%= f.text_field :management_code, class:'form-control' %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-xs-12 col-md-2 form-group">
      <%= f.label :order_unit, "発注単位" %></br>
      <%= f.text_field :order_unit, class:'form-control',placeholder:"(例)　袋、kg、本" %>
    </div>

    <div class="henkan col-xs-12 col-md-2 form-group">

    </div>
    <div class="col-xs-12 col-md-2 form-group">
      <%= f.label :calculated_price, "価格" %></br>
      <%= f.number_field :calculated_price, class:'form-control' %>
    </div>
  </div>


  <div class="col-md-12">

    <div class="col-xs-12 col-md-2 form-group">
      <%= f.label :calculated_unit, "レシピ時使用単位" %></br>
      <%= f.select :calculated_unit, {ml: "ml", g: "g", 袋: "袋",尾: "尾", 本: "本", 枚: "枚",
                                      切: "切", 個: "個"},{include_blank: true}, { class: "form-control"} %>
    </div>


    <div class="col-xs-12 col-md-2 form-group">
      <%= f.label :calculated_value, "計上量" %></br>
      <%= f.text_field :calculated_value, class:'form-control' %>
    </div>

    <div class="col-xs-12 col-md-2 form-group">
      <%= f.label :cost_price, "単位単価" %></br>
      <%= f.text_field :cost_price, class:'form-control', readonly: 'readonly' %>
    </div>



  </div>
  <div class="col-md-12">
    <div class="col-xs-12 col-md-8 form-group">
      <%= f.label :memo, "メモ" %></br>
      <%= f.text_area :memo, class:'form-control', style:"height:10em;" %>
    </div>
    <div class=" col-md-2 check_box form-group">
      <%= f.label :sales_end, "使用不可" %></br>
      <%= f.check_box :sales_end, class:"check_box form-control" %>
    </div>
  </div>
  <div class="col-md-12 text-center" style="margin:40px 0 20px 0; ">
    <input type="button" onclick="submit();" value="登録する" class="btn btn-success">
  </div>
  <% end %>
