aaaa
  <div class="col-xs-12 col-md-12">
    <div class="col-xs-12 col-md-4 form-group">
      <%= label :name, "食材名" %>
      <%= @item.name %>
    </div>
    <div class="col-xs-12 col-md-4 form-group">
      <%= label :order_name, "発注書名" %>
      <%= @item.order_name %>
    </div>
  </div>
  <div class="col-xs-12 col-md-12">
    <div class="col-xs-12 col-md-2 form-group">
      <%= label :category, "カテゴリ" %>
      <%= @item.category %>
    </div>

    <div class="col-xs-12 col-md-3 form-group">
      <%= label :vendor_id, "仕入先企業" %>
      <%= Vendor.find(@item.vendor_id).company_name %>
    </div>

    <div class="col-xs-12 col-md-3 form-group">
      <%= label :management_code, "管理コード" %>
      <%= @item.management_code %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="order_unit col-xs-12 col-md-3 form-group">
      <%= label :order_unit, "発注時の単位" %>
      <%= @item.order_unit %>
    </div>

    <div class="col-xs-12 col-md-1 form-group"></div>
    <div class="col-xs-12 col-md-4 form-group form-inline">
      <%= label :regular_price, "-",class:"regular_price_label col-xs-12 col-md-12",style:"padding:0;" %>
      <%= @item.regular_price %>

    <div class="form-group">
      円
    </div>
    </div>
  </div>


  <div class="col-md-12">
    <div class="col-xs-12 col-md-3 form-group">
      <%= label :recipe_unit, "レシピ上での単位" %>
      <%= @item.recipe_unit %>
    </div>
    <div class="col-xs-12 col-md-1 form-group"></div>
      <div class="col-xs-12 col-md-4 form-group form-inline">
      <%= label :regular_amount, "-" ,class:"regular_amount_label col-xs-12 col-md-12",style:"padding:0;" %>
      <%= @item.regular_amount %>
        <div class="regular_amount_unit form-group" style="font-size:18px;">

        </div>
      </div>
    </div>
  <div class="col-md-12">
    <div class="col-xs-12 col-md-4 form-group form-inline">
      <%= label :cost_price, "単位単価", class:"cost_unit_label col-xs-12 col-md-12",style:"padding:0;" %>
      <%= @item.cost_price %>
      <div class="form-group">
        円
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-xs-12 col-md-8 form-group">
      <%= label :memo, "メモ" %>
      <%= @item.memo %>
    </div>
  </div>
  <div class="col-md-12">
    <div class=" col-md-2 check_box form-group">
      <%= label :sales_end, "使用不可" %>
      <%= @item.sales_end %>
    </div>
  </div>

  <div class="col-md-12">
    <%= button_to '編集する', "/items/#{@item.id}/edit", method: :get,class: "btn btn-primary",style:"margin:10px;" %>
  </div>
